/* General Style */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Fat-Fish';
	src: url(./fonts/Fat-Fish.ttf);
}

@font-face {
	font-family: 'Fishes';
	src: url(./fonts/Fishes.ttf);
}

html,
body {
	height: 100%;
	width: auto;
}

body {
	background-color: #bbbcc9;
	font-family: 'Montserrat', sans-serif;
}

#foto-title {
	text-align: center;
	margin: 30px 0;
}

#title {
	color: #080821;
	-webkit-text-stroke: 2px #fff;
	font-family: 'Fat-Fish', Helvetica, sans-serif;
	font-size: 5em;
	font-weight: 300;
	text-align: center;
	margin: 25px auto 0 auto;
}

#wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#result-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 22px;
}

.fish {
	font-family: 'Fishes', sans-serif;
	text-align: center;
	font-size: 7rem;
}

#player {
	text-align: center;
}

caption {
	font-size: 1.32rem;
}
/* Table Style */

table {
	border-collapse: collapse;
	border: 2px solid rgb(200, 200, 200);
	letter-spacing: 1px;
	font-size: 0.8rem;
	margin-bottom: 22px;
	border: 2px solid black;
}

#wrapper > #standings {
	width: 40%;
	max-width: 700px;
}

#result-wrapper > table {
	width: 60%;
	max-width: 821px;
}

#players-table {
	width: 60%;
	max-width: 821px;
}

td,
th {
	border: 1px solid rgb(190, 190, 190);
	padding: 10px 20px;
}

th {
	background-color: rgb(235, 235, 235);
}

td {
	text-align: center;
}

tr:nth-child(even) td {
	background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
	background-color: rgb(245, 245, 245);
}

#players-table td:nth-child(5n + 5) {
	font-style: italic;
}

#players-table td:nth-child(5n + 4) {
	color: #3b395e;
	font-weight: 600;
}

#players-table th:nth-child(5n + 2) {
	text-align: left;
}

#standings td:nth-child(4n + 1) {
	font-style: italic;
	font-weight: 600;
}

#standings td:nth-child(4n + 2) {
	text-align: left;
	font-weight: 800;
}

#standings td:nth-child(4n + 3) {
	color: #3b395e;
	font-weight: 600;
	font-size: 1.1em;
}

/*-----------------------------------------------*/

#home-link {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
}

.container {
	width: 50%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
}

.sections {
	border: 1px solid #000;
	width: 100%;
	max-width: 300px;
	height: 150px;
	max-height: 150px;
	color: #fff;
	background-color: #080821;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sections:hover {
	transform: scale(1.1);
	color: #080821;
	background-color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #080821;
}

.h-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #080821;
}

#img-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 12px;
	background-color: #3b395e;
	padding: 25px 0;
}

img {
	width: 400px;
	height: 300px;
	object-fit: scale-down;
}

.photos {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Final Results */

h2 {
	text-align: center;
}

hr {
	width: 80%;
	border: none;
	height: 2px;
	background-color: #080821;
	margin: 1.4rem auto;
}

.finals-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 2.5rem;
}

.finals {
	height: 200px;
	width: auto;
}

.finals-1 {
	margin-left: 2rem;
}

.semi {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.semi-1 {
	margin-bottom: 5rem;
}

.semi-players {
	height: 2.5rem;
	width: 100%;
	border: 1px solid black;
}

.semi-empty-1 {
	border-top: none;
	border-right: none;
}

.semi-empty-2 {
	border-bottom: none;
	border-right: 2px solid black;
}

.semi-empty-3 {
	border-top: none;
	border-right: 2px solid black;
}

.semi-empty-4 {
	border-bottom: none;
	border-right: none;
}

.semi-player-1,
.semi-player-3 {
	border-bottom: none;
	background-color: #fff;
}

.semi-player-2,
.semi-player-4,
.final-player-2 {
	background-color: #000;
	color: #fff;
}

.final-p {
	height: 2.5rem;
	width: 50%;
	border: 1px solid black;
}

.final-empty-1 {
	border: none;
}

.final-player-1,
.final-player-2 {
	margin-left: -2.5rem;
}

.final-player-1 {
	border-bottom: none;
	background-color: #fff;
}

.semi-players,
.final-p {
	display: flex;
	justify-content: center;
	align-items: center;
}

.titles {
	column-span: 2;
}

.semi-title {
	margin-left: 20%;
}

.semi-title,
.final-title {
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-decoration: underline;
}
